name = "courier-poland-income"
compatibility_date = "2026-01-17"
main = "src/worker.js"

[build]
command = "npm run build"

[assets]
directory = "./dist"
binding = "ASSETS"
not_found_handling = "404-page"
